.trackButton {
    right:5px;
    top:5px;
    font-size: 20pt;
    position: absolute;
}

.selected {
    color: #63161a;
}

.deselected {
    color: #16635b;
}

.mapContainer {
    position: relative;
}