.filterContainer {
    text-align: left;
    border-color:#9dc2c0;
    border-radius: 10pt;
    margin: 20px;
}

h2 {
    font-size: 14pt;
}

h3 {
    font-size: 12pt;
}

button {
    min-height: 30px;
    background-color: white;
    box-shadow: none;
    border-style: solid;
}

button.selected {
    background-color: #16635b;
    color: white;
    font-weight: bolder;
}